.APP{
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url('./assests/images/Clear.jpg');
    background-size: cover;
    background-position: center;
}
